@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  padding: 4px;
}

nav {
  display: flex;
  position: relative; /* Certifique-se de que a navbar tenha um contexto de empilhamento */
  z-index: 10; /* Aumente o z-index conforme necessário */
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #ffffff;
  height: 12vh;
  font-family: "Oswald", sans-serif;
}

nav a {
  color: #101728;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  font-family: "Oswald", sans-serif;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background:#101728;
  margin: 8px;
  transition: 0.3s;
}

.logo {
  height: 9.2rem;
}

.pgin {
  background-image: linear-gradient(
      rgba(16, 23, 40, 0.7), /* Tom escuro (#101728) com opacidade */
      rgba(16, 23, 40, 0.7), /* Tom escuro (#101728) com opacidade */
      rgba(16, 23, 40, 0.7), /* Tom escuro (#101728) com opacidade */
      rgba(16, 23, 40, 0.7), /* Tom escuro (#101728) com opacidade */
      rgba(0, 0, 0, 0.7) /* Azul vibrante (#149CEA) com opacidade */
    ),
    url("../assets/bg.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

/* Estilo para PC (largura maior que 1024px) */
@media (min-width: 1024px) {
  .pgin {
    background-color: #101728; /* Cor sólida no PC */
    background-image: none; /* Remove o gradiente e a imagem no PC */
  }
}


.TituloPG {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.SubPG {
  color: #FFF;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
}

button {
  width: 10em;
  position: relative;
  height: 3.5em;
  outline: none;
  background-color: #149CEA;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.map {
  width: 100%; /* Garante que o mapa ocupe 100% da largura */
  height: 400px; /* Ajuste a altura conforme necessário */
  margin: 0; /* Remove margens indesejadas */
  padding: 0; /* Remove paddings indesejados */
}



button:hover::before, button:hover::after {
  transform: scale(0)
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}

.secAbout{
  background-color: #101728;
}

.txtAbout {
  letter-spacing: 2px;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
}

 /* Estilos gerais */
 .about-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.border {
  border-radius: 0.375rem; /* Arredondar bordas */
  margin-top: 15px;
  width: 100%; /* Mantenha a largura em 100% para contêineres responsivos */
  max-width: 300px; /* Defina uma largura máxima para os contêineres */
  height: 150px; /* Ajuste a altura automaticamente */
  margin-left: 10px;
}

.container {
  max-width: 1200px; /* Limitar a largura do contêiner */
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
}

.fotoCliente{
  height: 100px;
}

/* Para garantir que o texto não fique muito longo em telas menores */
p {
  line-height: 1.5; /* Aumenta a legibilidade */
  margin-top: 30px;
}

.textLoc {
  margin-top: 20px;
  padding: 20px;
}

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: #232224;
  color: #FFF;
  opacity: 0;
  transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #FFF;
  width: 100%; /* Garante que o footer ocupe 100% da largura */
  background-color: #101728; /* Defina uma cor de fundo, se necessário */
  position: relative; /* Para garantir que o footer esteja no fluxo normal da página */
  left: 0; /* Alinha o footer à esquerda */
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: #FFF;
}

/* Estilos gerais para o card de feedback */
.feedback-card {
  background-color: white;
  border: 1px solid #D1D5DB; /* border-gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 1rem; /* p-4 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* shadow-md */
  transition: box-shadow 0.3s; /* transition-shadow duration-300 */
  width: 100%; /* w-full */
  margin-top: 20px;
}

.feedback-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* hover:shadow-lg */
}

/* Conteúdo do feedback */
.feedback-content {
  display: flex;
  align-items: flex-start;
}

/* Estilo para a foto do cliente */
.client-photo {
  width: 5rem;
  height: 5rem; 
  border-radius: 100%;
  margin-right: 1rem; 
}

/* Para ajustar o tamanho do contêiner em telas maiores */
@media (min-width: 640px) {
  .feedback-card {
    width: calc(50% - 1rem); /* sm:w-1/2 */
  }
}

@media (min-width: 768px) {
  .feedback-card {
    width: calc(33.33% - 1rem); /* md:w-1/3 */
  }
}



@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 64px;
  }
}


/* Estilos para telas maiores (PCs) */
@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: flex-start;
    text-align: left;
    margin-top: 40px;
  }

  .about-text-container {
    margin-left: 60px; /* Aumenta o afastamento entre a imagem e o texto */
    width: 45%;
  }

  .imgGui {
    width: 30%; /* Ajusta o tamanho da imagem */
    min-width: 200px; /* Garante um tamanho mínimo */
    height: 450px;
    object-fit: cover; /* Garante que a imagem mantenha sua proporção sem distorção */
 
  }

  .about-text {
    margin-top: 10px;
    line-height: 1.5;
  }
}

.txtProjs {
  color: #101728;
}
 
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #FFF;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
